{% extends data.outerLayout %}
{% import "component/locale-switcher:index.html" as localeSwitcher with context %}
{% set fileBackground = apos.attachment.url(data.global.backgroundImageLogin) if data.global.backgroundImageLogin else
apos.asset.url('/modules/content/images/default-login.jpg') %}

{% block main %}
  <div class="t-sign__background" style="background-image: url('{{ fileBackground }}');">
    <div class="t-sign">

      {% include "component/home-redirect:index.html" %}

      {{ localeSwitcher.displayFlags('login') }}

      <div class="t-sign__logo">
        {% if data.global.logo %}
          <img src="{{ apos.attachment.url(data.global.logo) }}" alt="logo-site">
        {% else %}
          {{ __t('apostrophe:layout.logoPlaceholder') }}
        {% endif %}
      </div>

      <form action="/login" class="t-form" data-login-form>
        <div class="t-form__field">
          <input
            id="username"
            autocomplete="username"
            class="t-form__input"
            data-input-username
            name="username"
            placeholder="{{ __t('apostrophe:loginPage.username') }}"
            type="text"/>
          <label class="t-form__label t-form__label--error" data-label-username>
            {{ __t('apostrophe:loginPage.required') }}
          </label>
        </div>

        <div>
          <input
            id="current-password"
            autocomplete="current-password"
            class="t-form__input"
            data-input-password
            name="password"
            placeholder="{{ __t('apostrophe:loginPage.password') }}"
            type="password"/>
          <label class="t-form__label t-form__label--error" data-label-password>
            {{ __t('apostrophe:loginPage.required') }}
          </label>
        </div>

        <a class="t-form__link" href="#">{{ __t('apostrophe:loginPage.forgotPassword') }}</a>

        <input type="submit" class="t-button t-button--plain t-button--bold " value="{{ __t('apostrophe:login') }}"/>

        <div class="t-form__errors"></div>
      </form>

      <div class="t-sign-in">
        <span class="t-sign-in__sentence">{{ __t('apostrophe:loginPage.noAccount') }}</span>
        <a class="t-sign-in__link" href="/{{ data.locale }}/register">
          <button class="t-button t-button--outlined t-button--bold ">{{ __t('apostrophe:register') }}</button>
        </a>
      </div>

      <p class="t-sign__bottom-sentence">
        {{ __t('apostrophe:loginPage.alcoholWarning') }}
      </p>

    </div>

    
  </div>
{% endblock %}

{% block extraBody %}
  <div class="t-snackbars" data-snackbars></div>
{% endblock %}
