{% extends data.outerLayout %}

{% block main %}
<div class="t-login__background">
  <div class="t-login">

    {% set locales = apos.i18n.locales() %}
    <section class="t-login__locale-switcher">
      <button data-locale-switcher>
        <img src="{{ apos.asset.url('/modules/asset/icons/flag-' + data.locale + '.png') }}" alt="flag {{ data.locale }}" />
      </button>

      <ul data-locale-list>
        {% for locale in locales %}
          {% if locale.name !== data.locale %}
            <li>
              <a href="{{ locale.prefix }}/login">
                <img src="{{ apos.asset.url('/modules/asset/icons/flag-' + locale.name + '.png') }}" alt="flag {{ locale.name }}" />
              </a>
            </li>
          {% endif %}
        {% endfor%}
      </ul>
    </section>


    <div class="t-login__logo">{{ __t('apostrophe:layout.logoPlaceholder') }}</div>

    <form data-login-form class="t-login__form t-form" action="/login">
      <div class="t-form__field">
        <input
          type="text"
          name="username"
          class="t-form__input"
          placeholder="{{ __t('apostrophe:loginPage.username') }}"
          data-input-username
        />
        <label class="t-form__label t-form__label--error" data-label-username>
          {{ __t('apostrophe:loginPage.required') }}
        </label>
      </div>

      <div>
        <input
          type="password"
          name="password"
          class="t-form__input"
          placeholder="{{ __t('apostrophe:loginPage.password') }}"
          data-input-password
        />
        <label class="t-form__label t-form__label--error" data-label-password>
          {{ __t('apostrophe:loginPage.required') }}
        </label>
      </div>

      <a href="#" class="t-form__link">{{ __t('apostrophe:loginPage.forgotPassword') }}</a>

      <input type="submit" class="t-button" value="{{ __t('apostrophe:login') }}" />

      <div class="t-form__errors"></div>
    </form>

    <div class="t-login__register t-register">
      <span class="t-register__sentence">{{ __t('apostrophe:loginPage.noAccount') }}</span>
      <a class="t-register__link" href='/register'>
        <button class="t-register__button">{{ __t('apostrophe:register') }}</button>
      </a>
    </div>

  </div>

  <p class="t-login__bottom-sentence">
    {{ __t('apostrophe:loginPage.alcoholWarning') }}
  </p>
</div>
{% endblock %}
