{% extends data.outerLayout %}
{% import "component/locale-switcher:index.html" as localeSwitcher with context %}
{% set fileBackground = apos.attachment.url(data.global.backgroundImageLogin) %}

{% block main %}
<div class="t-login__background" style="background-image: url('{{ fileBackground }}');">
  <div class="t-login">

    {% include "component/home-redirect:index.html" %}

    {{ localeSwitcher.displayFlags('login') }}

    <div class="t-login__logo">
      {% if data.global.logo %}
      <img alt="logo-site" src="{{ apos.attachment.url(data.global.logo) }}">
      {% else %}
      {{ __t('apostrophe:layout.logoPlaceholder') }}
      {% endif %}
    </div>

    <form action="/login" class="t-form" data-login-form>
      <div class="t-form__field">
        <input
          class="t-form__input"
          data-input-username
          name="username"
          placeholder="{{ __t('apostrophe:loginPage.username') }}"
          type="text"/>
        <label class="t-form__label t-form__label--error" data-label-username>
          {{ __t('apostrophe:loginPage.required') }}
        </label>
      </div>

      <div>
        <input
          class="t-form__input"
          data-input-password
          name="password"
          placeholder="{{ __t('apostrophe:loginPage.password') }}"
          type="password"/>
        <label class="t-form__label t-form__label--error" data-label-password>
          {{ __t('apostrophe:loginPage.required') }}
        </label>
      </div>

      <a class="t-form__link" href="#">{{ __t('apostrophe:loginPage.forgotPassword') }}</a>

      <input class="t-button t-button--full" type="submit" value="{{ __t('apostrophe:login') }}"/>

      <div class="t-form__errors"></div>
    </form>

    <div class="t-account">
      <span class="t-account__sentence">{{ __t('apostrophe:loginPage.noAccount') }}</span>
      <a class="t-account__link" href="/{{ data.locale }}/register">
        <button class="t-button  t-button--empty">{{ __t('apostrophe:register') }}</button>
      </a>
    </div>

  </div>

  <p class="t-login__bottom-sentence">
    {{ __t('apostrophe:loginPage.alcoholWarning') }}
  </p>
</div>
{% endblock %}

{% block extraBody %}
<div class="t-snackbars" data-snackbars></div>
{% endblock %}
