{% for result in data.result %}
  <div class="t-category">
    {% if result[0] %}
      {% set item = result[0] %}
      {% set type = item.placeType or item.type %}
      <div class="t-category__heading">
        {% if type === 'wineStore' %}
        <div class="t-category__heading-bottle"></div>
        {% elseif type === 'wineBar' %}
          <img class="t-category__heading-icon" src="{{ apos.asset.url('/modules/content/icons/glass.svg') }}" alt="category heading">
        {% elseif type === 'poi' %}
          <img class="t-category__heading-icon" src="{{ apos.asset.url('/modules/content/icons/binoculars.svg') }}" alt="category heading">
        {% elseif type === 'domain' %}
          <img class="t-category__heading-icon" src="{{ apos.asset.url('/modules/content/icons/grap.svg') }}" alt="category heading">
        {% else %}
          <img class="t-category__heading-icon" src="{{ apos.asset.url('/modules/content/icons/map-black.svg') }}" alt="category heading">
        {% endif %}
        <div class="t-category__title">{{ __t('apostrophe:homePage.' + type) }}</div>
      </div>
    {% endif %}

    <div class="t-category__items">
      {% for item in result %}
        <a href="{{ item._url }}" class="t-category__item t-home">
          {% set image = apos.attachment.url(item.image) if item.image else apos.asset.url('/modules/content/images/default-domain.jpg') %}
          <div class="t-home__img {{ 't-home__img--large' if type === 'itinerary' }}"
            style="background-image: url({{ image }})">
            {% if type === "itinerary" and item.itineraryType === "event" %}
              <div class="t-home__banner">{{ __t('apostrophe:event') }}</div>
            {% endif %}
            <div class="t-home__title">{{ item.title }}</div>
          </div>

          {% if item.type === "domain" %}
            <div class="t-home__tags">
              {% for label in item.labels %}
                <div class="t-home__tag t-home__tag--{{ label.name.toLowerCase() }}">
                  {{ __t('apostrophe:' + label.name.toLowerCase()) }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </a>
      {% endfor %}

      {% if result.length >= 5 %}
        <a href="" class="t-category__more">
          {{ __t('apostrophe:seeMore') }}
        </a>
      {% endif %}
    </div>
  </div>
{% endfor %}
