@import '~/modules/content/ui/src/scss/_settings.scss';

.t-background {
  min-height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.32s ease height;

  @media (min-width: map-get($breakpoints, 'sm')) {
    min-height: 60vh;
  }
}

.t-places-categories {
  padding: 16px 0 16px 16px;
  border-radius: 15px 15px 0 0;
  background-color: $color-white;
}

.t-partnerships {
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
