npm-debug.log
node_modules/
dist
build
logs
.jshintrc
.DS_Store
.idea
.vscode
nginx/logs
.nuxt/
.env
coverage
apos/config/local.yml
apos/public/vue-app
mocks
cypress/screenshots
cypress/videos
cypress/fixtures/example.json
