@import '/modules/content/ui/src/scss/_settings';

.t-domain {
  &__tags-domain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 10px;
  }

  &__title {
    color: $color-purple;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
  }
}
