$color-white: #fff;
$color-purple: #5357c1;
$color-purple-rgb: rgba(83, 87, 193, 0.9);
$color-purple-light: #8264f1;
$color-purple-logo: #d4d7fb;
$color-pink: #fe5599;
$color-green: #0c8;
$color-gold: #f7b500;
$color-orange: #ff8317;
$color-black: #000000;
$color-black-light: #36414d;
$color-red: #ec0808;
$color-red-light: #f76161;

$breakpoints: (
  xs: 360px,
  sm: 768px,
  md: 1025px,
);
