$color-white: #fff;
$color-purple: #5357c1;
$color-purple-light: #8264f1;
$color-pink: #fe5599;
$color-green: #0c8;
$color-gold: #f7b500;
$color-orange: #ff8317;

$breakpoints: (
  xs: 360px,
  sm: 768px,
  md: 1025px,
);
