// Use flex to keep the footer at the bottom.
body * {
  box-sizing: border-box;
}

body,
[data-apos-refreshable],
.t-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.t-wrapper,
main {
  flex-grow: 1;
}

.apos-admin-bar-spacer {
  margin-bottom: 0;
  display: none;
}

.apos-admin-bar-wrapper~[data-apos-refreshable] .t-wrapper {
  position: relative;
  top: calc($admin-height + $header-height);
}

.t-wrapper {
  position: relative;
  top: $header-height;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}