$color-white: #fff;
$color-purple: #5357c1;
$color-purple-transparent: #5357c145;
$color-purple-rgb: rgba(83, 87, 193, 0.9);
$color-purple-light: #8264f1;
$color-purple-logo: #d4d7fb;
$color-purple-dark: #eb443b30;
$color-pink: #fe5599;
$color-green: #0c8;
$color-green-10: #b9d686;
$color-green-50: #4d7509;
$color-green-100: #00bf9a30;
$color-gold: #f7b500;
$color-orange: #ff8317;
$color-black: #000000;
$color-grey-50: #36414d;
$color-grey-60: #323232;
$color-red: #ec0808;
$color-red-light: #f76161;

$header-height: 102px;
$admin-height: 112px;
$footer-height: 80px;

$breakpoints: (
  xs: 360px,
  sm: 768px,
  md: 1025px,
);
