@import '~/modules/content/ui/src/scss/_settings.scss';

.t-icons-wrapper {
  display: flex;
}

.t-icon {
  &__color {
    color: $color-main;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;

  &__text {
    color: $color-black;
    font-size: 0.8rem;
    margin-top: -6px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  &__hidden {
    &--latitude,
    &--longitude {
      display: none;
    }
  }
}
