@import '/modules/content/ui/src/scss/_settings';

.t-back {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 20px;
  height: 20px;
  background: transparent;

  &__icon {
    background: url('/modules/content/icons/home.png') no-repeat;
    background-size: 80%;
    fill: $color-main;
    padding: 10px 10px 10px 10px;
    transform: scale(2);
  }
}

.t-sign {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: $color-main;
  position: relative;

  &__background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__logo {
    max-width: 200px;
    margin: 160px auto 100px;
    font-size: 40px;
    font-weight: 600;
    color: $color-purple-logo;
    text-align: center;

    img {
      max-width: inherit;
    }
  }

  &__bottom-sentence {
    position: fixed;
    width: 250px;
    color: $color-white;
    font-size: 11px;
    bottom: 10px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }
}

.t-sign-in {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background: none;
  margin-top: 40px;
  margin-bottom: 100px;

  &__sentence {
    margin: auto;
    margin-bottom: 15px;
    font-weight: 600;
    color: $color-white;
  }

  &__link {
    margin: 0 auto;
  }
}
