@import '~/modules/content/ui/src/scss/_settings.scss';

.t-place-category {
  &__more {
    display: flex;
    align-items: center;
    color: $color-text;
    font-size: 20px;
    margin-right: 16px;
  }

  &__main-title {
    text-align: center;
    color: $color-main;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 30px;
  }
}

.t-place {
  width: auto;
  height: auto;
  position: relative;

  &__main-title {
    text-align: center;
    color: $color-main;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0;
  }

  &__title {
    color: white;
    white-space: normal;
    text-align: center;
    padding: 0 8px 0 8px;
    word-break: break-word;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
  }
}
