@import '/modules/content/ui/src/scss/_settings';

.t-spacer-place {
  height: 40vh;

  @media (min-width: map-get($breakpoints, 'md')) {
    min-height: 60vh;
  }
}

.apos-admin-bar-wrapper ~ [data-apos-refreshable] {
  .t-spacer-place {
    height: 42vh;
  }
}

.t-background-place {
  @supports (-webkit-touch-callout: none) {
    display: block;
    min-height: 40vh;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    right: 0;
    left: 0;
  }

  @supports not (-webkit-touch-callout: none) {
    min-height: 40vh;
    background-attachment: fixed;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    right: 0;
    left: 0;
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    min-height: 60vh;
  }

  &__title {
    color: $color-white;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    margin-top: 15px;

    &--event {
      font-size: 1.5rem !important;
    }
  }

  &__place {
    color: $color-main;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 8px;

    svg {
      width: 18px;
      height: 18px;
      fill: $color-white;
    }
  }

  &__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 0.7;
  }
}

.t-place {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 150px 20px;
  position: relative;
  border-radius: 25px;
  background-color: $color-background;
  z-index: 0;

  &__title {
    color: $color-main;
    align-self: flex-start;
  }

  &__description {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    color: $color-text;
  }

  &__e-shop {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  &__content {
    .t-content {
      color: $color-text;

      &__schedule {
        display: flex;
        align-items: baseline;
        gap: 5px;
        margin-bottom: -5px;

        .t-schedule {
          &__icon {
            margin-right: 7px;
          }

          &__title {
            font-size: 15px;
          }

          &__data {
            font-size: 15px;
          }
        }
      }

      &__title {
        display: flex;
        align-self: flex-start;
        color: $color-main;
        margin-bottom: 30px;
      }

      &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding-left: 20px;
      }

      &__icon {
        transform: translateY(-2px);

        svg {
          color: $color-main;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
        }

        &--up {
          svg {
            transform: translateY(-3px);
          }
        }
      }

      &__category {
        min-width: 80px;
        font-weight: 600;
        margin-left: 12px;

        &-address {
          width: 85px;
          margin-left: 16px;
          min-width: 85px;
        }

        &-visit {
          width: 130px;
          margin-left: 16px;
          min-width: 130px;
        }
      }

      &__data {
        margin-left: 5px;
        display: inline-block;

        &-address {
          .apos-area p {
            margin: 0;
          }
        }
      }

      &__item {
        display: flex;
        align-items: flex-start;
        min-height: 30px;

        .t-content__web-link + .apos-area p {
          margin: 0;
        }
      }

      &__phone-link,
      &__web-link {
        color: $color-text !important;

        :visited {
          color: $color-text !important;
        }
      }
    }
  }

  &-note {
    &__content {
      color: $color-main;
    }
  }
}
