{% extends "@apostrophecms/page:layout.html" %}
{% import "component/user-icons:index.html" as userIcons with context %}

{% block main %}
  <div class="t-spacer-domain"></div>

  <div class="t-background-place"
  {% if data.piece.image -%} style="background-image: url('{{ apos.attachment.url(data.piece.image) }}');" {% endif -%}>
    <div class="t-background-place__container">
      <div class="t-background-place__title">{{ data.piece.title }}</div>
      <div class="t-background-place__place">
        {{ __t('apostrophe:' + data.piece.type) }}
        {% include "content:grape.svg" %}
      </div>
      <div class="t-domain__tags-domain">
        {% area data.piece, 'wineLabels' %}
      </div>
      <div class="t-background-place__icons">
        {{ userIcons.displayIcons([ ["visit", "white"], ["goto", "white"], ["favorite", "white"] ]) }}
      </div>
    </div>
  </div>

  <div class="t-place t-domain">
    <h2 class="t-domain__title">{{ data.piece.title }}</h2>
    <div class="t-place__description">{% area data.piece, 'description' %}</div>

    <div class="t-place__content t-content">
    {% if data.piece.openingDaysAndHours.items[0].content %}
      <div class="t-content__schedule t-schedule">
       {% include "place-page:openingSchedule.html" %}
      </div>
    {% else %}
      {% area data.piece, 'openingDaysAndHours' %}
    {% endif %}
    </div>

    {% area data.piece, 'activities' %}
    {% area data.piece, 'conveniences' %}
    {% area data.piece, 'wineTypes' %}

    {% if data.piece.spokenLanguages %}
      <h3 class="t-domain__spoken-languages">{{ __t('apostrophe:spokenLanguages') }}</h3>
      <div class="t-domain__languages">
        {% for language in data.piece.spokenLanguages %}
          <div class="t-domain__language">
            {{ __t('apostrophe:language.' + language) }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if data.piece.eShop %}
      <a href="{{ data.piece.eShop }}" target="_blank"
      class="t-place__e-shop t-button t-button--plain t-button--white">
        {{ __t('apostrophe:placePage.toEshop') }}
      </a>
    {% endif %}

    <div class="t-place__content t-content">
      <h3 class="t-content__title">{{ __t('apostrophe:placePage.infos') }}</h3>
      <ul class="t-content__list">
        {% include "place-page:contactInformation.html" %}
      </ul>
    </div>

    <div class="t-domain__actions">
      <a href="#" class="t-button t-button--plain t-button--white">{{ __t('apostrophe:placePage.appointment') }}</a>
      <a href="#" class="t-button t-button--plain t-button--white">{{ __t('apostrophe:placePage.startVisit') }}</a>
    </div>

    {% if data.piece._events.length > 0 %}
      <div class="t-domain__events">
        <div class="t-domain__events-banner">{{ __t('apostrophe:event.pluralLabel') }}</div>

        {% for result in data.piece._events %}

          {% include "event:event.html" %}
          
        {% endfor %}

      </div>
    {% endif %}

  </div>
{% endblock %}
