{# Automatically extends the right outer layout and also handles AJAX situations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block beforeMain %}
<div class="t-wrapper">
  <header class="t-header">
    <div class="t-header__geoloc t-header__icon"></div>
    <div class="t-header__logo">Votre logo ici</div>
    <div class="t-header__search  t-header__icon"></div>
    <nav class="t-header__menu t-header__icon t-menu">
    {% if data.isDev and not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
    {% endif %}
    </nav>
  </header>
  <main class="bp-main">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <div id="app"></div>

  <footer class="bp-footer">
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}

{% block afterAposScripts %}
  <script>apos.mode = "{{ 'development' if data.isDev else 'production' }}";</script>
{% endblock %}
