{# Automatically extends the right outer layout and also handles AJAX situations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
{% if not title %}
  {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}
{% endblock %}

{% block beforeMain %}
  <div class="t-wrapper">
    <header class="t-header">
      <div class="t-header__geoloc t-header__icon"></div>
      <div class="t-header__logo">{{ __t('apostrophe:layout.logoPlaceholder') }}</div>
      <div class="t-header__search  t-header__icon"></div>
      <nav class="t-header__menu t-menu">
        <div class="t-nav__icon" data-menu-icon>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <ul class="t-menu__list" data-menu-list>

        {% if not data.user %}
          <li class="t-menu__element">
            <div class="t-menu__logout"></div>
            <div class="t-menu__label"><a href="/login">{{ __t('apostrophe:layout.textLogin') }}</a></div>
          </li>
        {% else %}
          <li class="t-menu__element">
            <div class="t-menu__icon t-menu__icon--profile"></div>
            <div class="t-menu__label"><a href="#">{{ __t('apostrophe:layout.textProfile') }}</a></div>
          </li>

          <li class="t-menu__element">
            <div class="t-menu__icon t-menu__icon--place"></div>
            <div class="t-menu__label"><a href="#">{{ __t('apostrophe:layout.textVisits') }}</a></div>
          </li>

          <li class="t-menu__element">
            <div class="t-menu__icon t-menu__icon--shop"></div>
            <div class="t-menu__label"><a href="#">{{ __t('apostrophe:layout.textOrders') }}</a></div>
          </li>

          <li class="t-menu__element">
            <div class="t-menu__icon t-menu__icon--favorite"></div>
            <div class="t-menu__label"><a href="#">{{ __t('apostrophe:layout.textFavorites') }}</a></div>
          </li>

          <li class="t-menu__element">
            <div class="t-menu__icon t-menu__icon--logout"></div>
            <div class="t-menu__label"><a href="#" data-logout  >{{ __t('apostrophe:layout.textLogout') }}</a></div>
          </li>
        {% endif %}

        </ul>
      </nav>
    </header>
{% endblock %}

<main class="t-main">

{% block main %}
  {#
  Usually, your page templates in the @apostrophecms/pages module will override
  this block. It is safe to assume this is where your page-specific content
  should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>

  <!-- For the Vue app when needed -->
  <!-- <div id="app"></div> -->

  <footer class="t-footer">
    <a class="t-footer__icon__wrapper" href="/">
      <div class="t-footer__roads t-footer__icon {{ 't-footer__icon--active' if data.page.slug === '/roads' }}"></div>
      <p class="t-footer__icon-text">{{ __t('apostrophe:layout.textRoads') }}</p>
    </a>
    <a class="t-footer__icon__wrapper" href="/">
      <div class="t-footer__places t-footer__icon {{ 't-footer__icon--active' if data.page.slug === '/places' }}"></div>
      <p class="t-footer__icon-text">{{ __t('apostrophe:layout.textPlaces') }}</p>
    </a>
    <a class="t-footer__icon__wrapper" href="/">
      <div class="t-footer__home t-footer__icon {{ 't-footer__icon--active' if data.page.slug === '/' }}"></div>
      <p class="t-footer__icon-text">{{ __t('apostrophe:layout.textHome') }}</p>
    </a>
    <a class="t-footer__icon__wrapper" href="/">
      <div class="t-footer__events t-footer__icon {{ 't-footer__icon--active' if data.page.slug === '/events' }}"></div>
      <p class="t-footer__icon-text">{{ __t('apostrophe:layout.textEvents') }}</p>
    </a>
    <a class="t-footer__icon__wrapper" href="/">
      <div class="t-footer__favorites t-footer__icon {{ 't-footer__icon--active' if data.page.slug === '/favorites' }}">
      </div>
      <p class="t-footer__icon-text">{{ __t('apostrophe:layout.textFavorites') }}</p>
    </a>
  </footer>

</div>{# Close .t-wrapper #}

{% endblock %}

{% block afterAposScripts %}
<script>apos.mode = "{{ 'development' if data.isDev else 'production' }}";</script>
<script>apos.userRole = "{{ data.user.role }}";</script>
{% endblock %}
