{#
  Use this template to build out your 404 error pages. Like page templates,
  it inherits a global layout.
#}

{% extends "layout.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block main %}
  <div class="t-background-404">
    <div class="t-background-404__container">
      <div class="t-background-404__text">{{ __t('apostrophe:notFoundPageTitle') }}</div>
      <a href="/{{ data.locale }}/">
        <button class="t-button t-button--outlined">{{ __t('apostrophe:backToHome') }}</button>
      </a>
    </div>
  </div>
{% endblock %}
