@import url('~normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

@import './scss/_settings';
@import './scss/_type';
@import './scss/_layout';
@import './scss/_welcome';
@import './scss/_widgets';

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
  display: none;
}

.t-button {
  position: relative;
  background-color: $color-orange;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  margin: 0 auto;
  color: $color-white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
