@import url('~normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@import './scss/_settings';
@import './scss/_type';
@import './scss/_layout';
@import './scss/_welcome';
@import './scss/_widgets';

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
  display: none;
}
