@import '~/modules/content/ui/src/scss/_settings.scss';

.apos-admin-bar-wrapper ~ [data-apos-refreshable] {
  .t-header {
    top: 112px;
  }
}

.t-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  padding: 25px;
  position: fixed;
  top: 0;
  width: calc(100% - 50px);
  background: $color-white;
  box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: $color-orange;
  z-index: 1;

  @media (min-width: map-get($breakpoints, 'sm')) {
    padding: 15px 25px;
  }

  &__icon {
    width: 36px;
    height: 36px;
    background: $color-orange;
  }

  &__geoloc {
    justify-self: left;
    mask: url('/modules/content/icons/geoloc.png') center/contain no-repeat;
  }

  &__search {
    justify-self: right;
    mask: url('/modules/content/icons/search.svg') center/contain no-repeat;
  }

  &__menu {
    cursor: pointer;
    justify-self: right;
  }

  &__logo {
    text-align: center;
    max-width: 90px;
    padding-left: 30px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.t-nav {
  &__icon {
    cursor: pointer;
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &--close {
      width: 32px;
      height: 32px;

      > div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
      }
      > div:nth-child(2) {
        opacity: 0;
      }
      > div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
      }
    }

    & > div {
      pointer-events: none;
      height: 3px;
      background-color: $color-orange;
      transition: 0.5s;
    }
  }
}

.t-menu {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    background-color: $color-purple;
    position: absolute;
    top: 100%;
    left: 0;
    height: 490px;
    width: calc(100% - 60px);
    padding-left: 60px;
    padding-top: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateY(-1000px);
    transition: 0.5s;

    &--open {
      transform: translateY(-30px);
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    background: $color-white;
    margin-right: 20px;

    &--profile {
      mask: url('/modules/content/icons/people.png') center/contain no-repeat;
      margin-bottom: 2px;
    }

    &--place {
      mask: url('/modules/content/icons/direction.png') center/contain no-repeat;
      margin-bottom: 1px;
    }

    &--shop {
      mask: url('/modules/content/icons/cart.png') center/contain no-repeat;
      margin-bottom: 5px;
      margin-right: 25px;
      width: 30px;
      height: 30px;
    }

    &--favorite {
      mask: url('/modules/content/icons/heart.png') center/contain no-repeat;
      margin-bottom: 1px;
      margin-left: -1px;
    }

    &--logout {
      mask: url('/modules/content/icons/logout.png') center/contain no-repeat;
      margin-bottom: 3px;
      margin-left: 3px;
      margin-right: 22px;
      width: 30px;
      height: 30px;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    a {
      color: $color-white;

      &:visited {
        color: $color-white;
      }
    }
  }
}

.t-social {
  position: absolute;
  bottom: 120px;
  column-gap: 40px;
  padding: 0;
  margin-top: 40px;
  width: calc(100% - 120px);

  &__link {
    color: $color-white !important;
    display: flex;
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-color: $color-white;
    background-repeat: no-repeat;
    background-size: contain;

    &--instagram {
      mask-image: url('/modules/content/icons/instagram.svg');
    }

    &--facebook {
      mask-image: url('/modules/content/icons/facebook.svg');
    }

    &--linkedin {
      mask-image: url('/modules/content/icons/linkedin.svg');
    }
  }
}

.t-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 25px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc(100% - 50px);
  height: 50px;
  background: $color-purple;
  z-index: 1;
  font-family: 'Montserrat', regular;
  font-size: 11px;
  color: $color-white;

  @media (min-width: map-get($breakpoints, 'sm')) {
    padding: 30px 25px 20px;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70px;
  }

  &__icon {
    width: 36px;
    height: 36px;
    background: $color-white;
  }

  &__icon-text {
    color: $color-white;
  }

  &__icon--active {
    background: $color-orange;
  }

  &__roads {
    mask: url('/modules/content/icons/map.png') center/contain no-repeat;
  }

  &__places {
    mask: url('/modules/content/icons/direction.png') center/contain no-repeat;
  }

  &__home {
    mask: url('/modules/content/icons/home.png') center/contain no-repeat;
  }
  &__events {
    mask: url('/modules/content/icons/event.png') center/contain no-repeat;
  }
  &__favorites {
    mask: url('/modules/content/icons/heart.png') center/contain no-repeat;
  }
}

.hidden {
  display: none;
}
