@import '~/modules/content/ui/src/scss/_settings.scss';

.apos-admin-bar-wrapper ~ [data-apos-refreshable] {
  .t-header {
    top: $admin-height;
  }
}

.t-header {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;
  box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: $color-orange;

  .t-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: $color-white;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    background: $color-orange;
  }

  &__geoloc {
    z-index: 1;
    mask: url('/modules/content/icons/geoloc.png') center/contain no-repeat;
  }
  &__right {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
  &__search {
    transform: scale(0.86);
    mask: url('/modules/content/icons/search.svg') center/contain no-repeat;
  }

  &__menu {
    cursor: pointer;
  }

  &__logo {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    height: $header-height;
    width: auto;
    max-height: $header-height;
    img {
      height: 100%;
      max-height: 100%;
    }
  }
}

.t-nav {
  &__icon {
    cursor: pointer;
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &--close {
      width: 32px;
      height: 32px;

      > div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
      }
      > div:nth-child(2) {
        opacity: 0;
      }
      > div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
      }
    }

    & > div {
      pointer-events: none;
      height: 3px;
      background-color: $color-orange;
      transition: 0.5s;
    }
  }
}

.t-menu {
  &__list {
    position: absolute;
    z-index: -1;
    top: $header-height;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 104px 64px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    background-color: $color-purple;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateY(calc(-100% - $header-height));
    transition: 0.32s;

    &--open {
      transform: translateY(0px);
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    background: $color-white;
    margin-right: 20px;

    &--profile {
      mask: url('/modules/content/icons/people.png') center/contain no-repeat;
    }

    &--place {
      mask: url('/modules/content/icons/direction.png') center/contain no-repeat;
    }

    &--shop {
      mask: url('/modules/content/icons/cart.png') center/contain no-repeat;
    }

    &--favorite {
      mask: url('/modules/content/icons/heart.png') center/contain no-repeat;
    }

    &--logout {
      mask: url('/modules/content/icons/logout.png') center/contain no-repeat;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    a {
      color: $color-white;

      &:visited {
        color: $color-white;
      }
    }
  }
}

.t-social {
  column-gap: 40px;
  padding-left: 0;
  padding-top: 32px;
  width: 100%;
  &__link {
    color: $color-white !important;
    display: flex;
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-color: $color-white;
    background-repeat: no-repeat;
    background-size: contain;

    &--instagram {
      mask-image: url('/modules/content/icons/instagram.svg');
    }

    &--facebook {
      mask-image: url('/modules/content/icons/facebook.svg');
    }

    &--linkedin {
      mask-image: url('/modules/content/icons/linkedin.svg');
    }
  }
}

.t-footer {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  padding: 0 25px;
  font-size: 11px;
  font-family: 'Montserrat', regular;
  background: $color-purple;
  color: $color-white;

  @media (min-width: map-get($breakpoints, 'sm')) {
    padding: 0 25px;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    background: $color-white;
  }

  &__icon-text {
    color: $color-white;
    margin-top: 4px;
    margin-bottom: 0;
  }

  &__icon--active {
    background: $color-orange;
  }

  &__roads {
    mask: url('/modules/content/icons/map.png') center/contain no-repeat;
  }

  &__places {
    mask: url('/modules/content/icons/direction.png') center/contain no-repeat;
  }

  &__home {
    mask: url('/modules/content/icons/home.png') center/contain no-repeat;
  }
  &__events {
    mask: url('/modules/content/icons/event.png') center/contain no-repeat;
  }
  &__favorites {
    mask: url('/modules/content/icons/heart.png') center/contain no-repeat;
  }
}

.hidden {
  display: none;
}

.t-background-404 {
  background-image: url('/modules/content/images/404-background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  @media (min-width: map-get($breakpoints, 'md')) {
    min-height: 60vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 30vh;
    width: 368px;
    height: 330px;
  }

  &__text {
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
}
