{% extends "@apostrophecms/page:layout.html" %}

{% set fileBackground = apos.attachment.url(data.global.backgroundImage) %}

{% block main %}
  <div class="t-background" style="background-image: url('{{ fileBackground }}');"></div>

  <div class="t-places-categories">
    {% component 'place:categories' %}
  </div>

  <div class="t-partnerships">
    <div class="t-partnership">Logos AOC</div>
    <div class="t-partnership">Logos AOC</div>
    <div class="t-partnership">Logos AOC</div>
  </div>
{% endblock %}
