{% extends "@apostrophecms/page:layout.html" %}

{% set fileBackground = apos.attachment.url(data.global.backgroundImage) %}
{% set aocLogos = apos.attachment.url(data.global.aocLogos) %}

{% block main %}
  <div class="t-background" style="background-image: url('{{ fileBackground }}');"></div>

  <div class="t-places-categories">
    {% component 'place:categories' %}
  </div>

  <div class="t-partnerships">
    <div class="t-partnerships__logo" style="background-image: url('{{ aocLogos }}');"></div>
  </div>
{% endblock %}
